.alert {
    text-align: center;
}

a {
    text-decoration: none;
}

#main-header {
    width: 100%;
    height: 65px;
}

.nav-item {
    padding-left: 20px;
    padding-right: 20px;
}

#courses {
    width: 100%;
    height: 1000px;
    background-color: #f7f9fa;
}

.information {
    padding: 2rem 0 0 2rem;
    background-color: white;
    border-bottom: 1px solid grey;
}